HELP.md

# Não enviar a parte de Testes para a main
/src/test/*

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/


### VS Code ###
.vscode/


### Arquivos que não devem ir pra main/heroku por tratar de configurações de desenvolvimeto local
pom.xml
/src/main/resources/db/migration/h2/
application-local.properties
.gitignore
C:\Users\mateu\IdeaProjects\GES\Procfile

### Arquivo de conexão com o anco de dados (tentativa)
src/main/java/com/adocao/gpms/DataConfiguration.java
