#background-login {
    height: 100vh;
    width: 100vw;
    background-image: url('../templates/images/login-background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-login {
    width: 320px;
    height: 465px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

#container-login form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#container-login form input {
    background-color: #F2F2F5;
    padding: 10px 15px;
    border: none;
    margin: 5px 0;
}

#container-login form input[type=submit] {
    color: #FFFFFF;
    background-color: #FF6243;
}

#container-login span {
    color: #888888;
    font-size: 16px;
}

#container-login a {
    color: #BEBEBE;
    font-size: 14px;
}

#container-login a b {
    color: #888888;
}